<!DOCTYPE html>
<html>

<head>
    <title>Crear Estudiante</title>
</head>

<body>
    <div class="container">
        <h3><a href="/estudiantes">Lista de Estudiantes</a></h3>
        <h1>Crear Nuevo Estudiante</h1>
        <form action="/estudiantes/save" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Código</td>
                        <td><input type="text" name="cod" /></td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td><input type="text" name="nombre" /></td>
                    </tr>
                    <tr>
                        <td>Apellido</td>
                        <td><input type="text" name="apellido" /></td>
                        </tr>
                        <tr>
                            <td>Edad</td>
                            <td><input type="text" name="edad" /></td>
                        </tr>
                        <tr>
                            <td>Universidad</td>
                            <td><input type="text" name="universidad" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Grabar" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
                        
</html>